* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #696D76;
    --label--color-2: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: var(--background-color);
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
a {
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 149px;
    line-height: var(--height);
    height: var(--height);
    border-radius: 8px;
    background: var(--label--color-2);
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    scale: 1.1;
    background-color: var(--primary-color);
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.section-heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--label--color-2);
}

.section-desc-1 {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.section-desc-2 {
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-color);
}

.section-label {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696D77;
}

.section-label-2 {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--label--color-2);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.section-label-2::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}

.section-label::before {
    content: "";
    margin-right: 12px;
    width: 18px;
    height: 2px;
    background: #696D77;
}

/* ============== Header ============== */
.header {
    position: sticky;
    top: -30px;
    padding: 42px 0 12px;
    background: var(--white-color);
    z-index: 2;
}

.header__inner {
    display: flex;
    align-items: center;
    column-gap: 70px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    position: relative;
    padding: 10px 24px;
    color: var(--text-color);
}

.navbar__link:hover::after,
.navbar__link--active::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 25px;
    width: calc(100% + -49px);
    height: 2px;
    border-radius: 2px;
    background: var(--primary-color);
}

.navbar__link--active,
.navbar__link:hover {
    color: var(--label--color-2);
    text-shadow: 0 0 0.1px currentColor;
    line-height: 1.75;
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header-action__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: var(--label--color-2);
    transition: 0.3s;
}

.header-action__link:hover {
    color: var(--primary-color);
    scale: 1.1;
}

.header-action__btn {
    --height: 52px;
    min-width: 113px;
}

/* ============== Hero ============== */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero_content {
    width: 46.5%;
}

.hero-heading {
    margin: 12px 0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
    color: var(--label--color-2);
}

.hero-heading strong {
    color: var(--primary-color);
}

.hero-form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 0;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form_input {
    width: 100%;
    padding: 23px;
    border: none;
    outline: none;
    border-radius: inherit;
}

.hero-form_btn {
    margin-right: 8px;
    outline: none;
    border: none;
    background: var(--primary-color);
}

.hero_message {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: var(--text-color);
    /* visibility: hidden; */
}

/* 
.hero_content:has(:invalid:not(:placeholder-shown)) .hero_message {
    visibility: visible;
} */

.hero_media {
    margin-left: 160px;
    flex-grow: 1;
}

.hero_image {
    position: relative;
}

.hero_deposit {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: var(--white-color);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero_deposit-icon {
    width: 18px;
    height: 18px;
}

.hero_deposit-text {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #31456A;
}

.hero_deposit-amount {
    margin-left: 8px;
    color: #4AB5E3;
    font-size: 1.4rem;
    line-height: 1;
}

.hero_interest {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #DA6464;
}

.hero_interest-percent {
    color: var(--white-color);
    font-size: 4.4rem;
    font-weight: 600;
}

.hero_interest-text {
    color: var(--white-color);
    font-size: 1.6rem;
}

.hero_secured {
    position: absolute;
    bottom: 61px;
    right: 100px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439F90;
}

.hero_secured-number {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: var(--white-color);
}

.hero_secured-text {
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1;
    color: var(--white-color);
}

/* ============== Work ============== */
.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    align-items: center;
}

.work__media {
    width: 40.17%;
}

.work__img-wrap {
    position: relative;
    display: inline-flex;
}

.work__img-wrap::before {
    content: url(../img/work-decor.svg);
    position: absolute;
    left: 0;
    bottom: 0;
}

.work-img {
    position: relative;
    margin-bottom: 2px;
    display: block;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.work__logo-background {
    position: absolute;
    top: 76px;
    right: 55px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 8px;
}

.work__logo-decor {
    display: inline-block;
    padding: 9px 6px 8px;
    border-radius: 4px;
    background: #F8FBFE;
}

.work__card-wrap {
    position: absolute;
    bottom: 96px;
    right: -108px;
    width: 226px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}

.work__card-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4AB5E3;
}

.work__card-background-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--white-color);
}

.work__card-info {
    margin-left: 10px;
}

.work__card-title {
    color: var(--label--color-2);
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__card-stats {
    margin-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    color: var(--text-color);
}

.work__content {
    width: 40.17%;
    margin-left: auto;
}

.work-list {
    margin-top: 70px;
}

.work__item {
    margin-top: 28px;
}

.work__heading {
    margin-bottom: 16px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    color: var(--label--color-2);
}

/* ============== Card ============== */
.card {
    margin-top: 160px;
}

.card__inner {
    display: flex;
    align-items: center;
}

.card__content {
    width: 40.17%;
}

.card__heading {
    margin: 12px 0 20px;
}

.card__content-info {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
}

.card-item:nth-child(2),
.card-item:nth-child(3) {
    margin-top: 18px;
}

.card__btn {
    margin-top: 38px;
}

.card__media {
    width: 48.7%;
    margin-left: auto;
}

.card_img-wrap {
    position: relative;
}

.card__payment {
    position: absolute;
    top: -48px;
    right: 0;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    border-radius: 12px;
    background: var(--white-color);
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.card__payment-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgb(218 100 100 / 10%);
    box-shadow: -4px -2px 16px 0px #fff, 4px 2px 16px 0px rgba(136, 165, 191, 0.48);
}

.card__payment-info {
    margin-left: 14px;
}

.card__payment-label {
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--label--color-2);
}

.card__payment-type {
    margin-top: 8px;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}

.card__payment-detail {
    margin-left: 67px;
    text-align: right;
    font-family: Inter, sans-serif;
}

.card__payment-detail-amount {
    font-size: 1.6rem;
    color: var(--label--color-2);
}

.card__payment-detail-time {
    margin-top: 6px;
    font-size: 1rem;
    color: var(--text-color);
}

.card__income {
    position: absolute;
    right: 0;
    bottom: -55px;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 16px;
    background: #439F90;
}

.card__income-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: var(--white-color);
}

.card__income-label {
    margin-top: 14px;
    font-size: 1.2rem;
    color: var(--white-color);
}

.card__income-amount {
    margin-top: 6px;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
}

/* ============== Transfer ============== */
.transfer {
    margin-top: 160px;
}

.transfer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transfer__media {
    width: 40.17%;
}

.transfer__img-wrap {
    display: flex;
    justify-content: center;
    position: relative;
}

.transfer__img-wrap::before {
    content: url(../img/transfer-background.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin-bottom: -3px;
}

.transfer-img {
    display: block;
    width: 87.87%;
    object-fit: cover;
}

.transfer__method {
    position: absolute;
    right: -74px;
    bottom: 57px;
    /* width: 281px;
    height: 220px; */
    padding: 28px;
    background: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 44px 48px 0 rgba(0, 0, 0, 0.1);
}

.transfer__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--label--color-2);
}

.transfer__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.transfer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.transfer__btn-link {
    outline: none;
    border: none;
    background: #f9ea63;
    cursor: pointer;
}

.transfer__money {
    position: absolute;
    right: -100px;
    bottom: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--primary-color);
}

.transfer__content {
    width: 40.17%;
}

.transfer__heading {
    margin: 12px 0 20px;
}

.transfer__content-info {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
}

.transfer-item:nth-child(2),
.transfer-item:nth-child(3) {
    margin-top: 18px;
}

.transfer__btn {
    margin-top: 38px;
}

/* ============== Feedback ============== */
.feedback {
    margin-top: 160px;
}

.feedback__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.feedback__heading {
    margin: 12px 0 18px;
}

.feedback__desc {
    width: 435px;
}

.feedback__list {
    display: flex;
    column-gap: 30px;
    margin-top: 70px;
    overflow: hidden;
}

.feedback-item {
    flex-shrink: 0;
    width: 48.7%;
}

.feedback-item__desc {
    position: relative;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    border-radius: 4px;
    background: var(--white-color);
    color: var(--text-color);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
    filter: drop-shadow(0 0 3px #DFE2E8)
}

.feedback-item__desc::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -80px;
    border: 40px solid;
    border-color: var(--white-color) transparent transparent transparent;
}

.feedback-item__desc:hover {
    border-color: var(--white-color);
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feedback__user {
    margin-top: 76px;
    text-align: center;
}

.feedback__user-avatar {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    width: 104px;
    height: 104px;
    border-radius: 100%;
}

.feedback-item:nth-child(odd) .feedback__user-avatar {
    background: #4AB5E3;
}

.feedback-item:nth-child(even) .feedback__user-avatar {
    background: #439F90;
}

.feedback-avatar {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.feedback__user-name {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #070052;
}

.feedback__user-job {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.feedback-cta {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.feedback-cta__item {
    width: 22px;
    height: 6px;
    border: 1px solid #9B9FAB;
    border-radius: 1px;
    cursor: pointer;
}

.feedback-cta__item--active {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* ============== Blog ============== */
.blog {
    margin-top: 48px;
    padding: 70px 0 42px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-info {
    width: 37.17%;
}

.blog__heading {
    margin: 6px 0 18px;
}

.blog-btn {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: var(--white-color);
}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: transparent;
    cursor: pointer;
}

.blog-item__img {
    display: block;
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.blog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.blog__date {
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--text-color);
}

.blog_desc {
    margin: 10px 0 20px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--label--color-2);
}

.blog__cta {
    font-size: 1.6rem;
    line-height: 1.63;
    color: var(--text-color);
}

.blog__cta:hover {
    color: var(--primary-color);
}

/* ============== App ============== */
.app {
    margin-top: 160px;
}

.app__inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    background: var(--primary-color);
    border-radius: 24px;
}

.app__label::before {
    background: var(--white-color);
}

.app__label,
.app__heading,
.app__desc {
    color: var(--white-color);
}

.app__heading {
    margin: 12px 18px;
}

.app__desc {
    width: 435px;
    text-align: center;
}

.app__download {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}

.app-decor {
    position: absolute;
}

.app-decor:nth-of-type(1) {
    top: 49px;
    left: 112px;
}

.app-decor:nth-of-type(2) {
    top: 49px;
    right: 112px;
}

.app-decor:nth-of-type(3) {
    left: 166px;
    bottom: 49px;
}

.app-decor:nth-of-type(4) {
    right: 166px;
    bottom: 49px;
}

/* ============== Footer ============== */
.footer {
    margin-top: 100px;
}

.footer__row {
    display: flex;
    column-gap: 163px;
    padding-top: 100px;
}


.footer__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--label--color-2);
}

.footer__list {
    margin-top: 24px;
}

.footer_item {
    margin-top: 10px;
}

.footer__link {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #6A6E78;
}

.footer__desc {
    width: 371px;
}

.footer__heading--bottom {
    margin-top: 48px;
    color: #0a142f;
}

.footer__form {
    display: flex;
    column-gap: 20px;
    margin-top: 24px;
    width: 403px;
    height: 52px;
}

.footer__input {
    padding: 12px;
    height: 100%;
    width: 67%;
    border-radius: 6px;
    border: 1px solid #8e919a;
    outline: none;
}

.footer__submit {
    --height: 52px;
    min-width: 113px;
    background: var(--primary-color);
    outline: none;
    border: none;
}

.footer__contact {
    margin-top: 54px;
}

.footer__email,
.footer__phone {
    color: #6A6E78;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration-line: underline;
}

.footer__phone {
    margin-left: 100px;
}

.footer__copyright {
    margin-top: 28px;
    padding: 28px 0;
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}